*{
    
    margin:0px;
    padding:0px;
    font-family: verdana;
}
header{
    margin:100px auto;
    width: 1000px;
    height: 230px;
    background-color: white; opacity: 0.9;
    
        display: flex;
}

div.contenedor{
    width: 200px;
    height: 230px;
    -webkit-transition:height .4s;
 

    

    
        
}
div.contenedor a{
    text-decoration: none;   
}
div#uno{
background-color:#F3F3F3; 
}
div#dos{
    background-color:#F3F3F3; 
}

div#cuatro{
    background-color:#F3F3F3; 
}
div#cinco{
    background-color:#F3F3F3; 
}
div#seis{
    background-color:#F3F3F3; 
}
img.icon{
    display: block;
    margin:50px auto;
    background-color:rgba(255,255,255,.15);
    width: 40px;
    padding: 10px;

    -webkit-border-radius: 40%;
    -webkit-box-shadow:0px 0px 0px 30px rgba(255,255,255,.1);
    -webkit-transition:box-shadow .4s;
}

p.texto{
    font-size: 1.5em;
        color:black;
    text-align: center;
    padding-top:10px;
    opacity: .0;
    -webkit-transition:padding-top .4s;
    
}

div.contenedor:hover{
    height: 250px;
    
}

div.contenedor:hover p.texto{
    padding-top: 30px;
    opacity: 1;
}

div.contenedor:hover img.icon{
    -webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.8);
}
body{
    display: flex;
   width: 100%;
    height: 100vh;
    background: url(Imagenes/StarWars.jpg);
    background-size:cover;
    background-position: center;
}